body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    width: 200px;
    text-align: center;
    height: 50px;
    background-color: #497174;
    border: none;
    border-left: 8px solid #90A17D;
    border-bottom: 10px solid #90A17D;
    color: #fff;
   margin-top: 20px;
   margin-left: 550px;
   font-size: 20px;
}

